<ion-pane>
  <ion-header-bar class="bar-stable"">
    <h1 class="title">Plan your Trips!</h1>
  </ion-header-bar>
  <div class="intro-space"></div>
  <ion-content>
    <div class="list">
      <a href="#" class="item" onclick="window.open('https://www.google.com/maps', '_system', 'location=yes');return false;">Google Maps for public transport directions</a>
      <a href="#" class="item" onclick="window.open('https://www.bart.gov', '_system', 'location=yes');return false;">Look up BART train schedules</a>
      <a href="#" class="item" onclick="window.open('http://www.actransit.org/', '_system', 'location=yes');return false;">Ride a bus to the BART station</a>
      <a href="#" class="item" onclick="window.open('https://511.org/', '_system', 'location=yes');return false;">Use 511.org to plan a trip</a>
      <p class="item">Use Uber/Lyft app to get to/from the BART station</p>
    </div>
  <ion-content>
</ion-pane>
