<!--<ion-view view-title="Welcome" hide-back-button="true">-->
	<ion-content>
		<!--<img style="max-width: 100%;height: auto;width: auto\9; /* ie8 */" src="img/intro/splash.png">-->
		<div class="intro-space"></div>
		<div class="intro-space"></div>
		<div class="intro-space"></div>
		<div class="intro-space"></div>
		<div class="intro-space"></div>
		<!--<p style="font-size: 15px;text-align: center;padding: 5px 10px 5px 10px;">-->
		<center><b>Thank you for participating in our research, Studying Decision Processes with Environmental and Energy Use Impacts.</b></center>
		<!--</p>-->
		<div class="intro-space"></div>
		<p style="font-size: 15px;text-align: center;padding: 5px 10px 5px 10px;">
			Your app is currently submitting GPS data to our server.
		</p>
		<!--<button id="call-cci" class="button icon icon-left ion-clipboard cci-contact-button" ng-click="startSurvey()">Survey
		</button>-->
		<div class="intro-space"></div>
		<p style="font-size: 15px;text-align: center;padding: 5px 10px 0px 10px;">
			If you have any questions or concerns, please contact us:
		</p>
		<div id="call-cci" class="button icon icon-left ion-ios-telephone cci-contact-button">(510) 495-2072</div>
		<button ng-click="emailCCI()" id="email-cci" class="icon icon-left ion-email cci-contact-button">{{' '+studyEmail+' '}}</button>
	</ion-content>
<!--</ion-view>-->
